# Lab 12

This lab is an exercise in exploratory data analysis using the Pandas library. The data we are working with is a domestic flight delay information from 2015 provided by the US Department of Transportation.

The dataset can be found in Files -> Lab -> Lab 12.

For this lab, we will only be looking at a 2 week subset of the data that contains information on all flights on the December 18th  to December 31st, 2015 only. There are thousands of flights in a single day so this should be plenty of data for us to explore.

Start by downloading the following three files and save them in the same directory as your lab notebook.

* <b> flightdat.csv</b> This file contains all the flight information.
* <b> airlines.csv</b> This file contains a table of airline names.
* <b> airports.csv</b> This file contains the airport names for each of the airport codes as well as the latitude and longitude coordinates for each of the airports. 

In the <b>flightdat.csv</b> file,  the columns are:
| Column Name   |      Description    | 
|:----------:|:-------------|
|YEAR| Flight year  - All values are 2015
|MONTH| Flight month (1-12)
|DAY| Flight day (1-31) |
|DAY_OF_WEEK| 1-7 for Sunday - Saturday
| AIRLINE| Airline identifier|
|FLIGHT_NUMBER| Flight number |
|TAIL_NUMBER |  Plane tail number |
|ORIGIN_AIRPORT| Origin airport |
|DESTINATION_AIRPORT| Destination airport |
|SCHEDULED_DEPARTURE| Schedule departure time|
|DEPARTURE_TIME| WHEEL_OFF - TAXI_OUT| 
|DEPARTURE_DELAY| Total Delay on Departure |
|TAXI_OUT| The time duration elapsed between departure from the origin airport gate and wheels off | 
|WHEELS_OFF|  Time aircraft leaves ground
|SCHEDULED_TIME| Scheduled time for trip
|ELAPSED_TIME|AIR_TIME + TAXI_IN + TAXI_OUT 
|AIR_TIME| Actual time from WHEELS_ON to WHEELS_OFF
|DISTANCE| Distance traveled
|WHEELS_ON| Time wheels of aircraft touch the ground
|TAXI_IN| The time duration elapsed between wheels-on and gate arrival at the destination airport
|SCHEDULED_ARRIVAL| Scheduled arrival time
|ARRIVAL_TIME| Actual arrival time
|ARRIVAL_DELAY| ARRIVAL_TIME - SCHEDULED_ARRIVAL
|DIVERTED| Landed in another airport
|CANCELED| 1 if the flight was canceled, 0 if the flight was not canceled 
|CANCELLATION_REASON| Reason for Cancellation of flight: A - Airline/Carrier; B - Weather; C - National Air System; D - Security
|AIR_SYSTEM_DELAY| Delay caused by air system
|SECURITY_DELAY|Delay caused by security
|AIRLINE_DELAY|Delay caused by airline
|LATE_AIRCRAFT_DELAY| Delay caused by aircraft
|WEATHER_DELAY|  Delay caused by weather

Delays are in minutes.

# Problem 0

First, load the data using `pd.read_csv` and take a look at all three DataFrames. Only <b> flightdat.csv</b> contains the actual flight information. The others contain information on the airline and airport codes.

Let's get to know this data first. 
* Load <b>flightdat.csv</b> into a DataFrame called `df`. 
* How many rows and columns are in the `df` DataFrame?
* How many unique airlines are there in this DataFrame? How many unique departure airports are there?
* Use `.head()` and `.sample()` to look at 
    * the first 10 rows and
    * a random 10 rows
* Print out all the column names.
* Because our dataset only contains information on flights from December 18th to the 31st (14 days), we really only need to keep the `DAY` column. The YEAR and MONTH aren't useful to us. Drop these columns from <b> df</b>. Also drop FLIGHT_NUMBER and TAIL_NUMBER.  
* Re-print the column name.

In [1]:
# first import pandas
import pandas as pd

In [2]:
# Load the data and take a look at some of the rows of df
df = pd.read_csv("flightdat.csv")
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,12,18,5,AA,1230,N3BRAA,SEA,DFW,5,...,629.0,34.0,0,0,NaN,0.0,0.0,34.0,0.0,0.0
1,2015,12,18,5,DL,1426,N803DN,SFO,MSP,5,...,523.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,12,18,5,OO,5272,N127SY,DEN,MCI,6,...,327.0,36.0,0,0,NaN,0.0,0.0,36.0,0.0,0.0
3,2015,12,18,5,AA,862,N925UY,LAS,DCA,6,...,710.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,12,18,5,UA,1601,N35204,ANC,DEN,8,...,709.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print("In flightdat.csv...")
# How many rows and columns are in the `df` DataFrame?
print(f"* There are `{df.size = }` rows.")
print(f"* There are `{df.columns.size = }` columns.")

# How many unique airlines are there in this DataFrame?
print(f"* There are `{df['AIRLINE'].unique().size = }` unique airlines.")

# How many unique departure airports are there?
print(
    f"* There are `{df['ORIGIN_AIRPORT'].unique().size = }` " 
    + "unique departure airports."
)

In flightdat.csv...
* There are `df.size = 6696124` rows.
* There are `df.columns.size = 31` columns.
* There are `df['AIRLINE'].unique().size = 13` unique airlines.
* There are `df['ORIGIN_AIRPORT'].unique().size = 307` unique departure airports.

In [4]:
# Use `.head()` to look at the first 10 rows and
df.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,12,18,5,AA,1230,N3BRAA,SEA,DFW,5,...,629.0,34.0,0,0,NaN,0.0,0.0,34.0,0.0,0.0
1,2015,12,18,5,DL,1426,N803DN,SFO,MSP,5,...,523.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,12,18,5,OO,5272,N127SY,DEN,MCI,6,...,327.0,36.0,0,0,NaN,0.0,0.0,36.0,0.0,0.0
3,2015,12,18,5,AA,862,N925UY,LAS,DCA,6,...,710.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,12,18,5,UA,1601,N35204,ANC,DEN,8,...,709.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,12,18,5,UA,281,N805UA,DEN,PIT,9,...,506.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,12,18,5,AA,2406,N863AA,LAX,DFW,10,...,519.0,18.0,0,0,NaN,18.0,0.0,0.0,0.0,0.0
7,2015,12,18,5,AA,883,N509AY,SFO,CLT,15,...,803.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,12,18,5,AA,2020,N919US,PHX,CLT,15,...,610.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,12,18,5,AA,1475,N3GRAA,PDX,DFW,15,...,531.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Use `.sample()` to look at random 10 rows
df.sample(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
40422,2015,12,20,7,AS,554,N593AS,SEA,PSP,1450,...,1723.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
150814,2015,12,27,7,AA,327,N3MWAA,DFW,FLL,1855,...,34.0,115.0,0,0,NaN,48.0,0.0,0.0,42.0,25.0
78967,2015,12,22,2,F9,245,N912FR,IAH,DEN,2130,...,149.0,170.0,0,0,NaN,0.0,0.0,0.0,170.0,0.0
106376,2015,12,24,4,AA,2036,N832AW,CLT,SYR,1625,...,1757.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
119644,2015,12,25,5,WN,4078,N903WN,DAL,SMF,1750,...,1940.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
213831,2015,12,31,4,B6,1106,N190JB,ORD,JFK,1751,...,2038.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
76136,2015,12,22,2,OO,2960,N906SW,FLG,PHX,1800,...,1915.0,18.0,0,0,NaN,18.0,0.0,0.0,0.0,0.0
39650,2015,12,20,7,WN,762,N376SW,SJC,LAX,1400,...,1515.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23834,2015,12,19,6,DL,422,N707TW,JFK,SLC,1300,...,1624.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
102193,2015,12,24,4,DL,951,N987AT,FLL,LGA,1135,...,1427.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.read_csv("flightdat.csv") # Just in case we run this cell again

# Print out all the column names.
print("The columns of flightdat.csv are...")
print(f"{df.columns = }")

# Because our dataset only contains information on flights from December 18th to
# the 31st (14 days), we really only need to keep the `DAY` column. The YEAR and
# MONTH aren't useful to us. Drop these columns from df. Also drop FLIGHT_NUMBER
# and TAIL_NUMBER.
df = df.drop(['YEAR', 'MONTH', 'FLIGHT_NUMBER', 'TAIL_NUMBER'], axis=1)

# Re-print the column name. 
print("\nThe (new) columns of flightdat.csv are...")
print(f"{df.columns = }")

The columns of flightdat.csv are...
df.columns = Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

The (new) columns of flightdat.csv are...
df.columns = Index(['DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY',
       'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

# Problem 1


* Create a second DataFrame that consists only those flights that were canceled (i.e. `df.CANCELED == 1`). Call this DataFrame <b>`df_canceled`</b>. 
* How many rows and columns are in `df_canceled`?
* What is the average departure delay for canceled flights (i.e. in `df_canceled`)? What about for all flights (i.e. in `df`)? 
    * Use the `describe()` method for DataFrames.

In [7]:
# Create a second DataFrame that consists only those flights that were canceled
df_canceled = df[df['CANCELED'] == 1]

# How many rows and columns are in df_canceled?
print("In df_canceled...")
print(f"* There are `{df_canceled.size = }` rows.")
print(f"* There are `{df_canceled.columns.size= }` columns.")

# What is the average departure delay for canceled flights?
print("\nDelay statistics for cancelled flights:")
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
print(df_canceled['DEPARTURE_DELAY'].describe())
print(
    "\nThe average departure delay for canceled flights is "
    + f"{df_canceled['DEPARTURE_DELAY'].describe()['mean'] :.2f} minutes."
)

# What about for all flights?
print("\nDelay tatistics for all flights:")
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
print(df['DEPARTURE_DELAY'].describe())
print(
    "\nThe average departure delay for all flights is "
    + f"{df['DEPARTURE_DELAY'].describe()['mean'] :.2f} minutes."
)

In df_canceled...
* There are `df_canceled.size = 163512` rows.
* There are `df_canceled.columns.size= 27` columns.

Delay statistics for cancelled flights:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
count     298.000000
mean       82.080537
std       114.780101
min       -11.000000
25%         5.000000
50%        57.000000
75%       119.500000
max      1274.000000
Name: DEPARTURE_DELAY, dtype: float64

The average departure delay for canceled flights is 82.08 minutes.

Delay tatistics for all flights:
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
count    210246.000000
mean         19.300296
std          51.637389
min         -82.000000
25%          -3.000000
50%           1.000000
75%          20.000000
max        1649.000000
Name: DEPARTURE_DELAY, dtype: float64

The average departure delay for all flights is 19.30 minutes.

# Problem 2.1
Group the <b>`df` </b> DataFrame in two ways
* <b>`group_by_day`</b> Group the dataframe by the DAY_OF_WEEK column.
* <b>`group_by_airline`</b> Group the dataframe by the AIRLINE column.

Using these two variables, answer the following
* What is the type of `group_by_day` and `group_by_airlines` variables?
* Which day of the week had the most flights in this two week period? 
* Which airline had the most flights?

In [23]:
group_by_day = df.groupby("DAY_OF_WEEK")
group_by_airline = df.groupby("DAY_OF_WEEK")

In [26]:
group_by_day.describe()

KeyError: 'count'

In [24]:
group_by_airline.describe()

                 DAY                                                     \
               count       mean       std   min   25%   50%   75%   max
DAY_OF_WEEK
1            32618.0  24.500644  3.500054  21.0  21.0  28.0  28.0  28.0
2            32460.0  25.493315  3.500048  22.0  22.0  22.0  29.0  29.0
3            32741.0  26.476375  3.499974  23.0  23.0  23.0  30.0  30.0
4            26471.0  27.472895  3.499961  24.0  24.0  24.0  31.0  31.0
5            29343.0  21.013700  3.466110  18.0  18.0  18.0  25.0  25.0
6            29997.0  22.564056  3.499472  19.0  19.0  26.0  26.0  26.0
7            32374.0  23.569624  3.499361  20.0  20.0  27.0  27.0  27.0

            SCHEDULED_DEPARTURE               ... LATE_AIRCRAFT_DELAY          \
                          count         mean  ...                 75%     max
DAY_OF_WEEK                                   ...
1                       32618.0  1331.525048  ...                38.0   990.0
2                       32460.0  1334.932686  ...                39.0   904.0
3                       32741.0  1337.524847  ...                42.0   808.0
4                       26471.0  1260.698538  ...                32.0   749.0
5                       29343.0  1338.784514  ...                24.0  1014.0
6                       29997.0  1326.151715  ...                29.0   780.0
7                       32374.0  1359.560635  ...                41.0  1190.0

            WEATHER_DELAY
                    count      mean        std  min  25%  50%  75%     max
DAY_OF_WEEK
1                  8688.0  5.482159  36.102465  0.0  0.0  0.0  0.0   793.0
2                 11088.0  3.680646  25.934940  0.0  0.0  0.0  0.0   748.0
3                 13051.0  3.271167  17.729706  0.0  0.0  0.0  0.0   747.0
4                  5452.0  6.815297  34.375518  0.0  0.0  0.0  0.0   595.0
5                  6150.0  1.671545  15.367798  0.0  0.0  0.0  0.0   482.0
6                  6978.0  2.090857  18.166992  0.0  0.0  0.0  0.0   631.0
7                  8832.0  5.807065  34.899112  0.0  0.0  0.0  0.0  1211.0

[7 rows x 176 columns]

# Problem 2.2

Repeat the above exercise only looking at data from canceled flights. That is, group `df_canceled` by DAY_OF_WEEK (and then AIRLINE) to create the `cancel_group_by_day` (and then `cancel_group_by_airline`)  variables.

* What type of objects are `cancel_group_by_day` and `cancel_group_by_airline`?
* Which airline had the most canceled flights?
* Which day of the week had the most canceled flights?

# Problem 2.3


The number of canceled flights is not as informative as the fraction of canceled flights. One way to find the fraction of canceled flights per airline is to use the `agg()` function with `mean` (or values such as the minimum and maximum using `min`, and `max`) on the CANCELED column only. For example:

```python
group_by_airline['CANCELED'].agg(['mean', 'min', 'max'])
```
If you multiply the mean by 100, it is the percentage of canceled flights. 

* Using the above (or any other way to find the fraction of canceled flights), what is the airline with the most canceled flights?

# Problem 3.1

Let's look at just the columns that represent delays of any nature in the flight. These would be
* DEPARTURE_DELAY
* ARRIVAL_DELAY
* SECURITY_DELAY
* WEATHER_DELAY
* AIR_SYSTEM_DELAY
* LATE_AIRCRAFT_DELAY

Below, a new grouped DataFrame is created with the average of each of the delay columns on each day of the week.

That is, in `df_group_by_day_delays`, each row represents a day of the week. The columns represent the average amount of time over all flights for DEPARTURE_DELAY, ARRIVAL_DELAY, etc.

* Add a column to `df_group_by_day_delays` called TOTAL that is the sum of all other columns.
* Sort `df_group_by_day_delays` by the TOTAL column.
* Create a bar graph: x-axis is the Day (1 - Sunday, 7 - Saturday) and the height is the TOTAL average delays from all flights on that day. 
* Which day of the week did flights have the least total average delay?

In [8]:
delay_columns = [
    'DEPARTURE_DELAY', 
    'ARRIVAL_DELAY',
    'SECURITY_DELAY', 
    'WEATHER_DELAY',
    'AIR_SYSTEM_DELAY', 
    'LATE_AIRCRAFT_DELAY'
]

df_group_by_day_delays = df.groupby("DAY_OF_WEEK")[delay_columns].mean()

# Problem 3.2

* Using similar syntax as in the above problem, create a similar `df_group_by_airline` DataFrame where each row represents an airline and the columns are the average amount of time over all flights for DEPARTURE_DELAY, ARRIVAL_DELAY, etc (basically, group by the AIRLINE column instead of the DAY_OF_WEEK column).
* Add the TOTAL column as above.
* Sort  `df_group_by_airline` by the TOTAL column.
* Create a bar graph: x-axis is the Airline and the height is the TOTAL average delays from all flights on that day. 
* Which airline had the least total delay on average?

# Problem 4 - Airports

Let's load the airports dataframe from <b> airports.csv</b>.

In [9]:
# load airport data
df_airports = pd.read_csv("airports.csv")

# Set the index of df_airpoirts to be the airport code
df_airports = df_airports.set_index('IATA_CODE')
df_airports

,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
IATA_CODE,,,,,,
ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...
WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

Below is code to create another DataFrame that contains a single column (indexed by the airport code) representing the number of flights for which the airport is the destination.

In [10]:
# Group by destination airport, get count and then convert to a DataFrame
df_tmp = df.groupby("DESTINATION_AIRPORT").size().to_frame('size')
# Rename "DESTINATION_AIRPORT to be IATA_CODE and set it as the DataFrame index
df_tmp = df_tmp.reset_index().rename(columns={"DESTINATION_AIRPORT": "IATA_CODE"}).set_index("IATA_CODE")

# Rename size to be the NUMBER_OF_FLIGHTS_TO
df_tmp = df_tmp.rename(columns={'size': 'NUMBER_OF_FLIGHTS_TO'})

# View the DataFrame
df_tmp

           NUMBER_OF_FLIGHTS_TO
IATA_CODE
ABE                          48
ABI                          96
ABQ                         752
ABR                          28
ABY                          26
...                         ...
VPS                         204
WRG                          26
XNA                         327
YAK                          26
YUM                          82

[307 rows x 1 columns]

Create a new DataFrame called `df3` that is the result of merging `df_airports`and `df_tmp` on the IATA_CODE column.

Now, create a scatter plot of the coordinates of `df3` using `df3.plot.scatter()`. Set the x-axis to be the LONGITUDE column and the y-axis to be the LATITUDE column of the airports. Then, use the `NUMBER_OF_FLIGHTS_TO` column to be the color of each point in the plot.

Knowing that Atlanta, GA has the busiest airport in the world, does this figure make sense?